{% extends 'layout.html' %}

{% block title %}
    Send Feedback
{% endblock %}

{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center mb-8">
            <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">Feedback Form</h2>
        </div>
        <div class="max-w-2xl mx-auto">
            <form method="POST" class="space-y-6">
                {% csrf_token %}
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                    <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" required>
                </div>
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" required>
                </div>
                <div>
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message</label>
                    <!-- Deliberately not escaping input to allow XSS testing -->
                    <textarea name="message" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500" required></textarea>
                </div>
<button type="submit" class="py-3 px-5 text-sm font-medium text-center text-black rounded-lg bg-black sm:bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300">
  Send Feedback
</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
