{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container mx-auto my-8 px-4">
        <h1 class="text-4xl font-bold text-center mb-8">Welcome to My Blog Project</h1>

        <section class="text-center mb-12">
            <p class="">This is the home page of my blog project. I share insights and stories on various topics, from technology to lifestyle. Explore the different sections of the website to know more about my work.</p>
            <p class="">Feel free to check out the <a href="/about" class="text-blue-600 hover:underline">About</a> page to learn more about the project and the author.</p>
        </section>
        
    </div>
{% endblock %}
